html body {
	font-size: 15px;
}
body.login {
	background-color: #fafafa;
	background-position: center top;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: "Lato","Open Sans","Microsoft Yahei","微软雅黑",STXihei,"华文细黑","Hiragino Kaku Gothic Pro",Osaka,'ＭＳ Ｐゴシック','MS PGothic','メイリオ',Meiryo,"Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Arial",Sans-Serif;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
}
#backtoblog,
#nav {
	display: none;
}
body.login h1 {	
	background-position: center top;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	
	background-repeat: no-repeat;
	margin-bottom: 0;
	height: 60px;
	margin-left: 50px;
	margin-right: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body.login h1 a{
	display: none;
}
html .login form {
	background-color: #fff;
	border: 1px solid #ddd;
	
	-webkit-box-shadow: 0 1px 3px rgba(50,50,50,0.08);
	box-shadow: 0 1px 3px rgba(50,50,50,0.08);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 16px;
	padding: 15px 20px 25px;
}
html .login #loginform > p,
html .login #loginform > p + p {
	display: block;	
	padding: 0px 0 10px;
}
.login #loginform label {
	color: #666;
	font-size: 15px;
}
html .login form .input, 
html .login input[type=text] {
	border-color: #eee;
	margin: 0;
	margin-top: 7px;

	
}
html a {
	color: #1b7edf;
	text-decoration: none;
	border-bottom: 1px solid #1b7edf;
}
html a:hover {
	color: #1b7edf;
}
html .login form .forgetmenot label {
	font-size: 15px;
	color: #666;
}
html .submit .button.button-large {
	margin-top: 7px;
	border: 0 none;
	height: auto;
    background-color: #2b88d9;
    color: #fff;
    border-radius: 3px;
    
    font-weight: bold;
    display: block;
    width: 100%;
    font-size: 16px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    padding: 11px 10px;
}
@media only screen and (max-width: 640px){
	.login h1 a{
		background-size: 50% auto; 
		-webkit-background-size: 50% auto; 
	}
}