/*
Theme Name: MyStyle
Author: An Luu
Author URI: luubinhan1989@gmail.com
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* WordPress Required Styles */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.wp-caption-dd {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
.sticky {
  background: #f7f7f7;
  padding: 0 10px 10px;
}
.sticky h2 {
  padding-top: 10px;
}
/* 404 
================ */
.boo-wrapper {
  text-align: center;
}
.boo-wrapper .btn-light {
  border: 1px solid #111;
  color: #111;
}
.boo-wrapper p {
  margin-bottom: 25px;
}
.boo-name {
  
  overflow: hidden;
}
.boo-hidden {
  font-size: 170px;
  line-height: 1;
  color: #434343;
  display: block;
  position: relative;
  top: 60px;
}
/* 404 ================ */

/* List - Text - Link
-------------------------------------------------------------- */
html {
  font-size: 100.01%;
}

body {
  font-size: 75%;
  color: #333;
  line-height: 1.4;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

a {
  color: #111;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

dl {
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}
.dl-horizontal{*zoom:1;}
.dl-horizontal:before,.dl-horizontal:after{display:table;line-height:0;content:"";}
.dl-horizontal:after{clear:both;}
.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
h1, .h1, h2, .h2, h3, .h3 {
  color: #111;
  font-size: 18px;
}

/* List - Text - Link -------------------------------------------------------------- */

/* Select
-------------------------------------------------------------- */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
  opacity: 1;
}


::selection {
  background: #00569f; /* Safari */
  color: #fff;
}

::-moz-selection {
  background: #00569f; /* Firefox */
  color: #fff;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* Select-------------------------------------------------------------- */

/* MISC 
-------------------------------------------------------------- */

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,.cf:before,.clearfix:after,.cf:after,.container:before,.container:after{content:"\0020";display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after,.cf:after,.container:after{clear:both}
.clearfix,.cf,.container{*zoom:1}
.prefix1{padding-left: 5px !important;  }
.prefix2{padding-left: 10px !important;}
.prefix3{padding-left: 15px !important;}
.prefix4{padding-left: 20px !important;}
.prefix5{padding-left: 25px !important;}
.prefix6{padding-left: 30px !important;}
.suffix1{padding-right: 5px !important;}
.suffix2{padding-right: 10px !important;}
.suffix3{padding-right: 15px !important;}
.suffix4{padding-right: 20px !important;}
.suffix5{padding-right: 25px !important;}
.suffix6{padding-right: 30px !important;}
.wrap01{padding: 5px 0;}
.wrap02{padding: 10px 0;}
.wrap03{padding: 15px 0;}
.wrap04{padding: 20px 0;}
.wrap05{padding: 25px 0;}
.wrap06{padding: 30px 0;}
.wrap1{padding: 5px;}
.wrap2{padding: 10px;}
.wrap3{padding: 15px;}
.wrap4{padding: 20px;}
.wrap5{padding: 25px;}
.wrap6{padding: 30px;}
.wrap0{padding: 0;}
.mb1{margin-bottom: 5px;}
.mb2{margin-bottom: 10px;}
.mb3{margin-bottom: 15px;}
.mb4{margin-bottom: 20px;}
.mt1{margin-top: 5px}
.mt2{margin-top: 10px}
.mt3{margin-top: 15px}
.mt4{margin-top: 20px}
.left,.pull-left{float: left !important;}
.right,.pull-right{float: right !important;}
.banner img, figure img{display: block;}
.reset{margin-bottom: 0;}
.reset td{padding: 0;}
.inline{width:auto;}
.relative{position: relative;}
.figure, figure{ overflow: hidden;}
.figure img{height: 100%;max-width: none;}
.figure, figure{text-align: center;display: block;}
.figure2{display: block;overflow: hidden;}
.figure2 img{width: 100%;height: auto;min-height: 100%;}
.figure2 span{display:block;width:100%;height:100%;overflow:hidden;}
.overhidden{ overflow:hidden;}
.loud{ color: #cd010e;}
.muted{color: #999;}
.color{color: rgb(255,51,51) !important;}
.link{color: #000;}
ul.style1{
    padding: 0;
    margin: 0 0 20px 0;
}
ul.style1 li{
    list-style-type: none;
    margin: 0;
    background: url(images/list1.png) no-repeat 5px 0.5em;
    padding-left: 30px;
}
ul.style2{
    padding: 0;
    margin: 0 0 20px 0;
}
ul.style2 li{
    list-style-type: none;
    margin: 0;
    background: url(images/list2.png) no-repeat 5px 0.7em;
    padding: 4px 4px 4px 20px;
}
hr.line{border-top: 1px solid #ccc;}
hr.dashed{ border-top: 1px dashed #ccc;}
img.align-left{float: left; margin: 8px 20px 10px 0;}
img.align-right{ float: right; }
img.align-center{ margin: 0px auto;}
.align-left{text-align: left !important;}
.align-right{text-align: right!important;}
.align-center{text-align: center !important;}
table.style1 tr td{ vertical-align: top; padding: 0 10px 5px 0;text-align: left;}


/* MISC --------------------------------------------- */

/* Layout: Header
-------------------------------------------------------------- */

.toolbar{
  background: #F8F8F8;
  line-height: 20px;  
}
.toolbar-inner {
  padding: 5px 0;
}
.top-nav{
  list-style: none;
  margin: 0;
  padding: 0;
}
.topnote{
  text-align: right;
}
.top-nav li{
  display: inline-block;
}
.top-nav a{
  display: inline-block;
  padding: 0px 10px;
}
.header{
  margin-bottom: 20px;
}
.row-header{
  padding: 20px 0;
}
.site-title{
  margin-bottom: 0;
}
/* Layout: Header --------------------------------------------- */

/* Footer
-------------------------------------------------------------- */

.footer{
  font-size: 11px;

}
.footer .container{
  
}
.copyright{
  float: left;
  width: 50%;
}
.credit{
  float: right;
  width: 50%;
  text-align: right;
}

/* Layout: Footer --------------------------------------------- */

/* Widget
-------------------------------------------------------------- */

.post-widget-caption {
  margin-bottom: 5px;
}
.post-category {
  display: inline-block;
}
.widget-li {
  margin-bottom: 15px;
}
.widget-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.page-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* Widget -------------------------------------------- */