/* Common
--------------------------------*/
.swiper-container {
    width: 600px;
    height: 300px;
}  
.mystyle-post-content-position {
	position: relative;
}
.mystyle-post-content time {
	color: #999;
	font-size: 12px;
}
.wp-post-content {
	font-size: 14px;
}
/* Common -------------------------------- */

/* Design #1
--------------------------------*/
.mystyle-slider-container.design-1 .mystyle-post-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80%;
	background: rgba(0,0,0,.8);
	color: #fff;
	text-align: left;
	padding: 15px 20px;
}
.mystyle-slider-container.design-1 h2 {
	margin-top: 0;
	font-size: 18px;
	color: #fff;
}
.mystyle-slider-container.design-1 h2 a {
	color: #fff;
}
.design-1 .mystyle-slide-image {
	display: block;
	width: 100%;
}
.design-1 .mystyle-slide-image img {
	min-width: 100%;
}

/* Design #1 -------------------------------- */